<form *ngIf="phongBan" name="deleteForm" (ngSubmit)="confirmDelete(phongBan.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="phongBanDeleteDialogHeading" jhiTranslate="entity.delete.title">Xác nhận hành động xóa</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-phongBan-heading" jhiTranslate="quanlynhansuApp.phongBan.delete.question" [translateValues]="{ id: phongBan.id }">
      Bạn có chắc là muốn xóa Phong Ban {{ phongBan.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
    </button>

    <button id="jhi-confirm-delete-phongBan" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
    </button>
  </div>
</form>
