<div>
  <h2 id="page-heading" data-cy="TrinhDoHVHeading">
    <span jhiTranslate="quanlynhansuApp.trinhDoHV.home.title">Trinh Do HVS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="quanlynhansuApp.trinhDoHV.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trinh-do-hv"
        [routerLink]="['/trinh-do-hv/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="quanlynhansuApp.trinhDoHV.home.createLabel"> Thêm mới một Trinh Do HV </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="trinhDoHVS?.length === 0">
    <span jhiTranslate="quanlynhansuApp.trinhDoHV.home.notFound">No Trinh Do HVS found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="trinhDoHVS && trinhDoHVS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maTDHV">
            <div class="d-flex">
              <span jhiTranslate="quanlynhansuApp.trinhDoHV.maTDHV">Ma TDHV</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenTDHV">
            <div class="d-flex">
              <span jhiTranslate="quanlynhansuApp.trinhDoHV.tenTDHV">Ten TDHV</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trinhDoHV of trinhDoHVS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trinh-do-hv', trinhDoHV.id, 'view']">{{ trinhDoHV.id }}</a>
          </td>
          <td>{{ trinhDoHV.maTDHV }}</td>
          <td>{{ trinhDoHV.tenTDHV }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!--              <button-->
              <!--                type="submit"-->
              <!--                [routerLink]="['/nhan-vien']"-->
              <!--                [queryParams]="{ 'filter[trinhDoHVId.in]': trinhDoHV.id }"-->
              <!--                class="btn btn-info btn-sm"-->
              <!--                data-cy="filterOtherEntityButton"-->
              <!--              >-->
              <!--                <fa-icon icon="eye"></fa-icon>-->
              <!--                <span-->
              <!--                  class="d-none d-md-inline"-->
              <!--                  jhiTranslate="entity.action.show"-->
              <!--                  [translateValues]="{ otherEntity: ('quanlynhansuApp.trinhDoHV.nhanVien' | translate) }"-->
              <!--                  >Show Nhan Vien</span-->
              <!--                >-->
              <!--              </button>-->
              <button
                type="submit"
                [routerLink]="['/trinh-do-hv', trinhDoHV.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/trinh-do-hv', trinhDoHV.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
              </button>

              <button type="submit" (click)="delete(trinhDoHV)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trinhDoHVS && trinhDoHVS.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
