<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="phongBan">
      <h2 data-cy="phongBanDetailsHeading"><span jhiTranslate="quanlynhansuApp.phongBan.detail.title">Phong Ban</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phongBan.id }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.phongBan.maPB">Ma PB</span></dt>
        <dd>
          <span>{{ phongBan.maPB }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.phongBan.tenPB">Ten PB</span></dt>
        <dd>
          <span>{{ phongBan.tenPB }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.phongBan.sDT">S DT</span></dt>
        <dd>
          <span>{{ phongBan.sDT }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/phong-ban', phongBan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
      </button>
    </div>
  </div>
</div>
