<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nguoiThan">
      <h2 data-cy="nguoiThanDetailsHeading"><span jhiTranslate="quanlynhansuApp.nguoiThan.detail.title">Nguoi Than</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nguoiThan.id }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.nguoiThan.maNT">Ma NT</span></dt>
        <dd>
          <span>{{ nguoiThan.maNT }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.nguoiThan.tenNT">Ten NT</span></dt>
        <dd>
          <span>{{ nguoiThan.tenNT }}</span>
        </dd>
        <dt><span jhiTranslate="quanlynhansuApp.nguoiThan.sDT">S DT</span></dt>
        <dd>
          <span>{{ nguoiThan.sDT }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/nguoi-than', nguoiThan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
      </button>
    </div>
  </div>
</div>
