<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phong-ban-heading" data-cy="PhongBanCreateUpdateHeading" jhiTranslate="quanlynhansuApp.phongBan.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Phong Ban
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlynhansuApp.phongBan.maPB" for="field_maPB">Ma PB</label>
          <input type="text" class="form-control" name="maPB" id="field_maPB" data-cy="maPB" formControlName="maPB" />
          <div *ngIf="editForm.get('maPB')!.invalid && (editForm.get('maPB')!.dirty || editForm.get('maPB')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('maPB')?.errors?.required" jhiTranslate="entity.validation.required">
              Trường này bắt buộc phải nhập.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maPB')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              Trường này không được vượt quá 10 ký tự.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlynhansuApp.phongBan.tenPB" for="field_tenPB">Ten PB</label>
          <input type="text" class="form-control" name="tenPB" id="field_tenPB" data-cy="tenPB" formControlName="tenPB" />
          <div *ngIf="editForm.get('tenPB')!.invalid && (editForm.get('tenPB')!.dirty || editForm.get('tenPB')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tenPB')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Trường này không được vượt quá 50 ký tự.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quanlynhansuApp.phongBan.sDT" for="field_sDT">S DT</label>
          <input type="text" class="form-control" name="sDT" id="field_sDT" data-cy="sDT" formControlName="sDT" />
          <div *ngIf="editForm.get('sDT')!.invalid && (editForm.get('sDT')!.dirty || editForm.get('sDT')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sDT')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              Trường này không được vượt quá 20 ký tự.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
